{% extends 'base.html.twig' %}

{% block title %}CTV News{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/index.css') }}">
{% endblock %}

{% block body %}
    <div id="cards_landscape_wrap-2">
        <div class="container">
            <div class="row">
                {% for post in posts %}
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <a href="">
                            <div class="card-flyer">
                                <div class="text-box">
                                    <div class="image-box">
                                        <img src="{{ post.getPicture() }}" alt="" />
                                    </div>
                                    <div class="text-container">
                                        <h6>{{ post.getTitle() }}</h6>
                                        {{ post.getDescription() | raw }}
                                    </div>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <div class="card-footer">
                                           <a class="btn btn-danger" href="{{ path('post_delete', {post: post.id}) }}">Delete</a>
                                        </div>
                                    {% endif %}
                                    
                                </div>
                            </div>
                        </a>
                    </div>
                {% else %}
                    <p>No news found</p>
                {% endfor %}
            </div>
            <div class="navigation my-5">
                {{ knp_pagination_render(posts) }}
            </div>
        </div>
    </div>

{% endblock %}
